# --- Secretos y Configuración Local ---
local.properties
secrets.properties
/secrets.properties
.env
*.jks
*.keystore

# --- Archivos de Android Studio / IntelliJ ---
.gradle/
.idea/
*.iml
build/
capture/
/out

# --- Archivos del Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Archivos de Log y Temporales ---
*.log
.externalNativeBuild/
.cxx/
.navigation/

# --- Pruebas de dispositivos ---
captures/